version: '2.1'
services:
  app:
      container_name: app
      build: ./app/
      links:
        - db
        - db2
        - db3
        - loginapi
        - relationapi
      environment:
        - FRONT_END_LOGIN_API_URL=http://localhost:3001
        - BACK_END_LOGIN_API_URL=http://loginapi:3000
        - FRONT_END_RELATION_URL=http://localhost:3002
        - FRONT_END_FILE_API_URL=http://localhost:3003
        - FRONT_END_SYSTEM_API_URL=http://localhost:3004
        - DATABASE2_HOST=db2
        - DATABASE3_HOST=db3
        - FACEBOOK_CLIENT_ID=349836925395288
        - FACEBOOK_CLIENT_SECRET=b5ee947725a403390fc99413c1d3ca39
        - FACEBOOKCALLBACK=http://localhost:3000/user/login/facebook/callback
        - SESSION_SECRET=PHAN
      ports:
        - "3000:3000"
      volumes:
        - ./app:/webapp
      command: bash -c "npm install &&  npm start"
  loginapi:
      container_name: loginapi
      build: ./loginapi/
      ports:
        - "3001:3000"
      links:
        - db
        - relationapi
      environment:
        - DATABASE1_URL=mongodb://db:27017/photoApp
        - BACK_END_RELATION_URL=http://relationapi:3000
      volumes:
        - ./loginapi:/webapp
      command: bash -c "npm install && sleep 3m; npm start"
  relationapi:
      container_name: relationapi
      build: ./relationapi/
      ports:
        - "3002:3000"
      links:
        - db3
      environment:
        - DATABASE3_URL=http://db3:7474/
      volumes:
        - ./relationapi:/webapp
      command: bash -c "npm install && sleep 2m; npm start"
  fileapi:
      container_name: fileapi
      build: ./fileapi/
      ports:
        - "3003:3000"
      links:
        - db
      environment:
        - DATABASE1_URL=mongodb://db:27017/photoApp
      volumes:
        - ./fileapi:/webapp
      command: bash -c "npm install && npm start"
  systemapi:
      container_name: systemapi
      build: ./systemapi/
      ports:
        - "3004:3000"
      links:
        - db4
      environment:
        - DATABASE4_HOST=db4
        - DATABASE4_PORT=9042
        - DATABASE4_KEYSPACE=new
        - WAIT_HOSTS=postgres:5432
        - BACK_END_LOGIN_API_URL=http://loginapi:3000
        - DATABASE2_HOST=db2
        - SESSION_SECRET=PHAN
      volumes:
        - ./systemapi:/webapp
      command:  bash -c "  npm install && sleep 2m; npm start"
  db:
    container_name: db
    ports:
      - "27017:27017"
    image: mongo
    volumes:
      - ./mongodb-data:/data/db
  db2:
    container_name: db2
    ports:
      - "6379:6379"
    image: redis
    volumes:
      - ./redis-data:/data/
  db3:
    container_name: db3
    ports:
      - "7474:7474"
      - "7687:7687"
    image: neo4j
    volumes:
      - ./neo4j-data:/data/
    environment:
      - NEO4J_AUTH=none
  db4:
    container_name: db4
    ports:
      - "9042:9042"
    image: cassandra
    volumes:
      - ./cassandra-data:/var/lib/cassandra