.small-avatar{
    height: 30px;
    width: 30px;
}
.error-message{
    color: red;
}
.center{
    margin: auto;
    text-align: center;
}
#price-div{
    padding-top: 20px;
}
.btn-price{
    margin-left: 20px;
}